.button {
  padding: 30px;
  margin: 50px;

  width: 100%;
  letter-spacing: 5px;
  font-size: 40px;
  border-radius: 50px;
  background-color: #56698f;
  border: none;
  box-shadow: 10px 5px 5px rgb(203, 203, 203);
  color: white;
  cursor: pointer;
}
